@model NeosoftA2Zfilings.Views.ViewModels.CreateRoleVM;

@{
    ViewData["Title"] = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="display-5 fw-bold text-center">Update Role</h2>

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row gy-5 justify-content-center">
                    <div class="col-12 col-lg-5 card p-3">
                        <form asp-action="Index" asp-controller="Home" method="post" class="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input asp-for="RoleId" type="text" class="form-control border-0 border-bottom rounded-0">
                                        <label asp-for="RoleId" class="form-label">Role Id</label>
                                        <span asp-validation-for="RoleId" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input asp-for="Name" type="text" class="form-control border-0 border-bottom rounded-0">
                                        <label asp-for="Name" class="form-label">Name</label>
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-dark rounded-0 fs-6" type="submit">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

