@model NeoSoft.A2ZFiling.UI.ViewModels.IndustryVM;

@{
    ViewData["Title"] = "Create";

}


<div id="createIndustryModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Industry Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="error-message-container"></div>
                <form id="createIndustryForm" asp-action="Create" asp-controller="Industry" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="IndustryName">Industry Name:</label>
                        <input asp-for="IndustryName" class="form-control" placeholder="Industry Type"/>
                        <span asp-validation-for="IndustryName" class="text-danger" id="entityName"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ShortName">Short Name:</label>
                        <input asp-for="ShortName" class="form-control" placeholder="Industry Short Name"/>
                        <span asp-validation-for="ShortName" class="text-danger" id="entityName"></span>
                    </div>

                
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox" id="isActiveCheckbox">
                            <label asp-for="IsActive" class="form-check-label" for="isActiveCheckbox">IsActive</label>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                </form>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeIndustryEntity">Close</button>
                <button type="button" class="btn btn-primary" id="saveIndustryEntity" data-save="modal" data-dismiss="modal">Save</button>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
