@model NeoSoft.A2ZFiling.UI.ViewModels.LocationSViewModel;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
   

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content m-5 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-lg-10">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link show active" id="table1-tab" data-toggle="tab" href="#table1" role="tab" aria-controls="table1" aria-selected="true">Table 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="table2-tab" data-toggle="tab" href="#table2" role="tab" aria-controls="table2" aria-selected="true">Table 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="table3-tab" data-toggle="tab" href="#table3" role="tab" aria-controls="table3" aria-selected="true">Table 3</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="table1" role="tabpanel" aria-labelledby="table1-tab">

                                                @{
                                                    Html.RenderPartial("_Municipal", Model.Municipalities);
                                                }
                                        </div>
                                    <div class="tab-pane fade" id="table2" role="tabpanel" aria-labelledby="table2-tab">
                                        
                                                @{
                                                    Html.RenderPartial("_Zones", Model.Zones);
                                                }
                                         
                                    </div>
                                    <div class="tab-pane fade" id="table3" role="tabpanel" aria-labelledby="table3-tab">
                                        
                                           
                                                @{
                                                    Html.RenderPartial("_Cities", Model.Cities);
                                                }
                                   @*   
                                    </div> *@
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

    <script>
        $(document).ready(function () {
            var tables = {};

            // Initialize DataTables only when the corresponding tab is shown
            $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href"); // activated tab
                var tableId = target.substring(1);

                if (!tables[tableId]) {
                    tables[tableId] = $(target + ' table').DataTable({
                        "responsive": true, "lengthChange": true, "autoWidth": false,
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    }).buttons().container().appendTo(target + ' .col-md-6:eq(0)');
                }
            });

            // Initialize the first table by default
            $('#table1-tab').trigger('shown.bs.tab');
        });
    </script>
</body>
</html>
