@model NeoSoft.A2ZFiling.UI.ViewModels.LocationSViewModel;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content m-5 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-lg-10">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link" id="table1-tab" data-toggle="tab" href="#table1" role="tab" aria-controls="table1" aria-selected="true">Municipal corporation</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="table2-tab" data-toggle="tab" href="#table2" role="tab" aria-controls="table2" aria-selected="false">Zones/Regions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="table3-tab" data-toggle="tab" href="#table3" role="tab" aria-controls="table3" aria-selected="false">Cities</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="table1" role="tabpanel" aria-labelledby="table1-tab">
                                        <div class="card">

                                           
                                            <!-- /.card-header -->
                                            @* <div class="card-body"> *@
                                                @{
                                                    Html.RenderPartial("_Municipal",Model.Municipalities);
                                                }

                                                  
                                            @* </div> *@
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="table2" role="tabpanel" aria-labelledby="table2-tab">
                                        <div class="card">
                                       
                                            @* <div class="card-body" mr-5> *@

                                                @{
                                                    Html.RenderPartial("_Zones",Model.Zones);
                                                }

                                                @* </div> *@
                                        </div>
                                       
                                    </div>
                                    <div class="tab-pane fade " id="table3" role="tabpanel" aria-labelledby="table3-tab">
                                        <div class="card">
                                         
                                            <!-- /.card-header -->
                                            @* <div class="card-body"> *@
                                                @{
                                                    Html.RenderPartial("_Cities", Model.Cities);
                                                }
                                            @* </div> *@
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
    <!-- jQuery -->
   @*  <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
 *@
  @*   <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $("#example2").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        });
    </script> *@






    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- DataTables Buttons extension -->
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
@*  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@
    <script>

        console.log("Before DataTable initialization");

        $("#example6").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
           
            "paging": true,
            "pageLength": 4,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        }) / .buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)'); 
        </script>


</body>
</html>
